<div class="container d-flex flex-column align-items-center justify-content-around">
  <div class="row d-flex align-items-center justify-content-around">
    <%= render "grid" %>
  </div>
</div>
<div class="d-none">
  <%= simple_form_for @attempt, authenticity_token: true, html: { remote: true } do |f| %>
    <%= f.input :words, as: :hidden %>
    <%= f.submit class: "form-submit" %>
  <% end %>
</div>

<script>
  if(!document.querySelector(".attempt").dataset.finished) {
    document.addEventListener("keyup", (event) => {
      let emptyWord = document.querySelector(".empty");
      let wordLetters = Array.from(emptyWord.children).map(letter => letter.innerText);
      let index = wordLetters.indexOf("");
      let temporaryLetters = wordLetters.filter(w => w !== "")
      if (temporaryLetters.length === 4) {
        document.querySelector(".word.active").classList.add('enter')
      }

      if ((event.keyCode >= 65 && event.keyCode <= 90) || event.key === "Backspace" ) {
        if (event.key === "Backspace") {
          let enterPrompt = document.querySelector(".word.active.enter")
          if (enterPrompt) {
            enterPrompt.classList.remove('enter')
          }
          if (temporaryLetters.length > 0) {
            let indexLastTypedLetter = temporaryLetters.length - 1
            emptyWord.children[indexLastTypedLetter].style.backgroundColor = 'grey'
            emptyWord.children[indexLastTypedLetter].innerText = "";
          }
        } else {
          if (index >= 0) {
            emptyWord.children[index].style.backgroundColor = '#3a3a3c'
            emptyWord.children[index].innerText = event.key.toUpperCase();
          }
        }
      } else if (event.key === "Enter" && temporaryLetters.length === 5) {
        let form = document.querySelector("form");
        let input = document.querySelector("#attempt_words");
        let existingAttempts = JSON.parse(document.querySelector(".attempt").dataset.attempts);
        let attempt = Array.from(emptyWord.children).map(letter => letter.innerText).filter(w => w !== "").join('')
        existingAttempts.push(attempt);
        input.value = existingAttempts;
        document.querySelector(".form-submit").click();
      }
    })
  }
</script>
