// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.devise-form {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 32px;
}

.attempt {
  user-select: none;
}

.half {
  flex: 0.5;
}

.container {
  min-height: calc(100vh - 70px);
}

.letter {
  height: 56px;
  width: 56px;
  background-color: #3a3a3c;
  color: white;
  font-weight: 900;
  font-size: 30px;
  border-radius: 8px;
}

.game-state {
  vertical-align: middle;
  line-height: 64px;
  background-color: #3a3a3c;
  color: white;
  height: 64px;
  font-weight: 900;
  font-size: 30px;
  border-radius: 3px;
  margin: 4px;
}

.word {
  position: relative;
}

.popped {
  animation: pulse 0.3s ease-in;
  &.keyboard-btn {
    color: white;
    background-color: #3a3a3c !important;
  }
}

.keyboard-popped {
  animation: pulse 0.3s ease-in;
}

.keyboard-row {

  display: flex;
  width: 100%;
  margin: 0 auto 8px;
}

#keyboard {
  min-width: 100%;
  margin: 0 8px;
  user-select: none;
}

@media only screen and (min-width: 600px) {
  #keyboard {
    margin: 0 220px;
    user-select: none;
  }
  .word.active.enter::after {
    content: 'press enter';
    color: #3a3a3c;
    font-weight: 900;
    font-size: 20px;
    right: -116px;
    top: 20px;
    position: absolute;
  }

  .word.active::before {
    content: '>';
    color: #3a3a3c;
    font-weight: 900;
    font-size: 20px;
    left: -40px;
    top: 20px;
    position: absolute;
  }
}



button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #d3d6da;
  color: #1a1a1b;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 768px) {
  .game-state {
    font-size: 20px;
    line-height: 42px;
    height: 42px;
  }

  .letter {
    height: 38px;
    width: 38px;
    font-size: 20px;
  }
  
  button {
    height: 43px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.90);
  }

  100% {
    transform: scale(1);
  }
}
