// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.letter {
  height: 64px;
  width: 64px;
  background-color: #3a3a3c;
  color: white;
  font-weight: 900;
  font-size: 30px;
  border-radius: 3px;
}

.container {
  min-height: calc(100vh - 70px);
}

.game-state {
  vertical-align: middle;
  line-height: 64px;
  background-color: #3a3a3c;
  color: white;
  height: 64px;
  font-weight: 900;
  font-size: 30px;
  border-radius: 3px;
  margin: 4px;
}

.attempt {
  position: relative;
}

.word.active.enter::after {
  content: 'press enter';
  right: -116px;
  position: absolute;
  animation: pulse 2s infinite;
}

.word.active::before {
  content: '>';
  left: -40px;
  position: absolute;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.90);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.90);
  }
}
